<h2>Errors :</h2>

<p>
	<span class="notice">
		<?=__('Do you forgot to create the tables?')?><br/>
		<?=__('Run this command from your application app folder : ')?> <strong><em>Console<?=DS?>cake schema create -p Authorization</em></strong>
	</span>
</p>